node_modules/
.pnpm-store/
dist/
.venv/
.python-version
.pytest_cache/
__pycache__/
*.py[cod]
.DS_Store
.env
*.log
*.sqlite3
data/static/
data/uploads/*
!data/uploads/.gitkeep
data/backups/*
!data/backups/.gitkeep
sever_p.txt
server_p.txt
